body
  margin 0
  padding 0

.navbar-wrapper
  width 960px
  margin 0 auto

.navbar
  border-radius 0
  list-style none
  height 50px
  width 100%
  background #696d72
  position relative
  margin 0

.navbar li
  height 100%
  padding 15px
  display inline-block

.navbar li:hover
  background #404449

.navbar li a
  height 100%
  width 100%
  text-transform uppercase
  font-weight bold
  color #ffffff
  text-decoration none
  box-sizing border-box
  cursor pointer

.navbar li a:link
  color #ffffff

.navbar li a:visited
  color #ffffff

.navbar .search
  position absolute
  right 15px
  top 10px

.navbar .search input::-webkit-input-placeholder
  padding-left 10px

.navbar .search input::input:-moz-placeholder
  padding-left 10px

.navbar-navigator
  margin-top -20px
  background #8793a3
  height 75px
  width 100%

.navbar-navigator h3
  padding-top 25px
  margin-left 20px




