.comment-item
  margin-top 25px
  position relative

.comment-rating
  position absolute
  right 25px
  top 0
  font-size 18px

.comment-text
  margin-top 10px

.comment-date
  position absolute

  right 5px
  bottom 0

.add-comment-author,
.add-comment-text,
.add-comment-btn
  margin 5px
  display block



.add-review-btn
  background #ff6740
  font-size 16px
  font-weight bold
  padding 5px 20px
  position absolute
  right 0
  width 140px
  height 60px
  top 0

.add-review
  display inline-block
  height 65px


